WEB-INF/source/org/bcv/serviceDICOM/dicom.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.mtom.ws.bcv.org.ve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.mtom.ws.bcv.org.ve/" name="OperCamFileTransfer">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="Mtom.xml">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp1_2:Policy>
<wsp:Policy wssutil:Id="OperCamFileTransferPortBinding_MTOM_Policy">
<ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://server.mtom.ws.bcv.org.ve/" schemaLocation="dicom.xsd"/>
</xsd:schema>
</types>
<message name="cambiarClave">
<part name="parameters" element="tns:cambiarClave"/>
</message>
<message name="cambiarClaveResponse">
<part name="parameters" element="tns:cambiarClaveResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="cargarFinalOperaciones">
<part name="parameters" element="tns:cargarFinalOperaciones"/>
</message>
<message name="cargarFinalOperacionesResponse">
<part name="parameters" element="tns:cargarFinalOperacionesResponse"/>
</message>
<message name="cargarResultadoComprobacion">
<part name="parameters" element="tns:cargarResultadoComprobacion"/>
</message>
<message name="cargarResultadoComprobacionResponse">
<part name="parameters" element="tns:cargarResultadoComprobacionResponse"/>
</message>
<message name="bajarSolicitudComprobacionBloqueo">
<part name="parameters" element="tns:bajarSolicitudComprobacionBloqueo"/>
</message>
<message name="bajarSolicitudComprobacionBloqueoResponse">
<part name="parameters" element="tns:bajarSolicitudComprobacionBloqueoResponse"/>
</message>
<portType name="OperCamFileTransfer">
<operation name="cambiarClave">
<input wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cambiarClaveRequest" message="tns:cambiarClave"/>
<output wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cambiarClaveResponse" message="tns:cambiarClaveResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cambiarClave/Fault/Exception"/>
</operation>
<operation name="cargarFinalOperaciones">
<input wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cargarFinalOperacionesRequest" message="tns:cargarFinalOperaciones"/>
<output wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cargarFinalOperacionesResponse" message="tns:cargarFinalOperacionesResponse"/>
</operation>
<operation name="cargarResultadoComprobacion">
<input wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cargarResultadoComprobacionRequest" message="tns:cargarResultadoComprobacion"/>
<output wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/cargarResultadoComprobacionResponse" message="tns:cargarResultadoComprobacionResponse"/>
</operation>
<operation name="bajarSolicitudComprobacionBloqueo">
<input wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/bajarSolicitudComprobacionBloqueoRequest" message="tns:bajarSolicitudComprobacionBloqueo"/>
<output wsam:Action="http://server.mtom.ws.bcv.org.ve/OperCamFileTransfer/bajarSolicitudComprobacionBloqueoResponse" message="tns:bajarSolicitudComprobacionBloqueoResponse"/>
</operation>
</portType>
<binding name="OperCamFileTransferPortBinding" type="tns:OperCamFileTransfer">
<wsp:PolicyReference URI="#OperCamFileTransferPortBinding_MTOM_Policy"/>
<wsp:PolicyReference URI="#Mtom.xml"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cambiarClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cargarFinalOperaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarResultadoComprobacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bajarSolicitudComprobacionBloqueo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OperCamFileTransfer">
<port name="OperCamFileTransferPort" binding="tns:OperCamFileTransferPortBinding">
<soap:address location="https://dicom.cert.extra.bcv.org.ve:443/OPERCAMSERVICES/OperCamFileTransfer"/>
</port>
</service>
</definitions>