WEB-INF/classes/org/bcv/serviceMESACAMBIO/mesaCambios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.bcv.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bcv.org/" name="BancoUniversal">
<types>
<xsd:schema>
<xsd:import namespace="http://service.bcv.org/" schemaLocation="https://ocppws-cert.extra.bcv.org.ve/AltoValor/BancoUniversal?xsd=1"/>
</xsd:schema>
</types>
<message name="ANULADEMANDA">
<part name="parameters" element="tns:ANULADEMANDA"/>
</message>
<message name="ANULADEMANDAResponse">
<part name="parameters" element="tns:ANULADEMANDAResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="ANULAOFERTA">
<part name="parameters" element="tns:ANULAOFERTA"/>
</message>
<message name="ANULAOFERTAResponse">
<part name="parameters" element="tns:ANULAOFERTAResponse"/>
</message>
<message name="oferta">
<part name="parameters" element="tns:oferta"/>
</message>
<message name="ofertaResponse">
<part name="parameters" element="tns:ofertaResponse"/>
</message>
<message name="pacto">
<part name="parameters" element="tns:pacto"/>
</message>
<message name="pactoResponse">
<part name="parameters" element="tns:pactoResponse"/>
</message>
<message name="pactodirecto">
<part name="parameters" element="tns:pactodirecto"/>
</message>
<message name="pactodirectoResponse">
<part name="parameters" element="tns:pactodirectoResponse"/>
</message>
<message name="demanda">
<part name="parameters" element="tns:demanda"/>
</message>
<message name="demandaResponse">
<part name="parameters" element="tns:demandaResponse"/>
</message>
<message name="jornadaActiva">
<part name="parameters" element="tns:jornadaActiva"/>
</message>
<message name="jornadaActivaResponse">
<part name="parameters" element="tns:jornadaActivaResponse"/>
</message>
<message name="statusjornada">
<part name="parameters" element="tns:statusjornada"/>
</message>
<message name="statusjornadaResponse">
<part name="parameters" element="tns:statusjornadaResponse"/>
</message>
<message name="cambiarClave">
<part name="parameters" element="tns:cambiarClave"/>
</message>
<message name="cambiarClaveResponse">
<part name="parameters" element="tns:cambiarClaveResponse"/>
</message>
<message name="ANULAPACTO">
<part name="parameters" element="tns:ANULAPACTO"/>
</message>
<message name="ANULAPACTOResponse">
<part name="parameters" element="tns:ANULAPACTOResponse"/>
</message>
<message name="GETPACTOXML">
<part name="parameters" element="tns:GETPACTOXML"/>
</message>
<message name="GETPACTOXMLResponse">
<part name="parameters" element="tns:GETPACTOXMLResponse"/>
</message>
<message name="OFERTASXBCV">
<part name="parameters" element="tns:OFERTASXBCV"/>
</message>
<message name="OFERTASXBCVResponse">
<part name="parameters" element="tns:OFERTASXBCVResponse"/>
</message>
<message name="OFERTASXML">
<part name="parameters" element="tns:OFERTASXML"/>
</message>
<message name="OFERTASXMLResponse">
<part name="parameters" element="tns:OFERTASXMLResponse"/>
</message>
<message name="DEMANDASXML">
<part name="parameters" element="tns:DEMANDASXML"/>
</message>
<message name="DEMANDASXMLResponse">
<part name="parameters" element="tns:DEMANDASXMLResponse"/>
</message>
<message name="errores">
<part name="parameters" element="tns:errores"/>
</message>
<message name="erroresResponse">
<part name="parameters" element="tns:erroresResponse"/>
</message>
<message name="INSTRUMENTOSXML">
<part name="parameters" element="tns:INSTRUMENTOSXML"/>
</message>
<message name="INSTRUMENTOSXMLResponse">
<part name="parameters" element="tns:INSTRUMENTOSXMLResponse"/>
</message>
<message name="TIPOPACTOSXML">
<part name="parameters" element="tns:TIPOPACTOSXML"/>
</message>
<message name="TIPOPACTOSXMLResponse">
<part name="parameters" element="tns:TIPOPACTOSXMLResponse"/>
</message>
<portType name="BancoUniversal">
<operation name="ANULADEMANDA">
<input wsam:Action="http://service.bcv.org/BancoUniversal/ANULADEMANDARequest" message="tns:ANULADEMANDA"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/ANULADEMANDAResponse" message="tns:ANULADEMANDAResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/ANULADEMANDA/Fault/Exception"/>
</operation>
<operation name="ANULAOFERTA">
<input wsam:Action="http://service.bcv.org/BancoUniversal/ANULAOFERTARequest" message="tns:ANULAOFERTA"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/ANULAOFERTAResponse" message="tns:ANULAOFERTAResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/ANULAOFERTA/Fault/Exception"/>
</operation>
<operation name="oferta">
<input wsam:Action="http://service.bcv.org/BancoUniversal/ofertaRequest" message="tns:oferta"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/ofertaResponse" message="tns:ofertaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/oferta/Fault/Exception"/>
</operation>
<operation name="pacto">
<input wsam:Action="http://service.bcv.org/BancoUniversal/pactoRequest" message="tns:pacto"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/pactoResponse" message="tns:pactoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/pacto/Fault/Exception"/>
</operation>
<operation name="pactodirecto">
<input wsam:Action="http://service.bcv.org/BancoUniversal/pactodirectoRequest" message="tns:pactodirecto"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/pactodirectoResponse" message="tns:pactodirectoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/pactodirecto/Fault/Exception"/>
</operation>
<operation name="demanda">
<input wsam:Action="http://service.bcv.org/BancoUniversal/demandaRequest" message="tns:demanda"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/demandaResponse" message="tns:demandaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/demanda/Fault/Exception"/>
</operation>
<operation name="jornadaActiva">
<input wsam:Action="http://service.bcv.org/BancoUniversal/jornadaActivaRequest" message="tns:jornadaActiva"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/jornadaActivaResponse" message="tns:jornadaActivaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/jornadaActiva/Fault/Exception"/>
</operation>
<operation name="statusjornada">
<input wsam:Action="http://service.bcv.org/BancoUniversal/statusjornadaRequest" message="tns:statusjornada"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/statusjornadaResponse" message="tns:statusjornadaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/statusjornada/Fault/Exception"/>
</operation>
<operation name="cambiarClave">
<input wsam:Action="http://service.bcv.org/BancoUniversal/cambiarClaveRequest" message="tns:cambiarClave"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/cambiarClaveResponse" message="tns:cambiarClaveResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/cambiarClave/Fault/Exception"/>
</operation>
<operation name="ANULAPACTO">
<input wsam:Action="http://service.bcv.org/BancoUniversal/ANULAPACTORequest" message="tns:ANULAPACTO"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/ANULAPACTOResponse" message="tns:ANULAPACTOResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/ANULAPACTO/Fault/Exception"/>
</operation>
<operation name="GETPACTOXML">
<input wsam:Action="http://service.bcv.org/BancoUniversal/GETPACTOXMLRequest" message="tns:GETPACTOXML"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/GETPACTOXMLResponse" message="tns:GETPACTOXMLResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/GETPACTOXML/Fault/Exception"/>
</operation>
<operation name="OFERTASXBCV">
<input wsam:Action="http://service.bcv.org/BancoUniversal/OFERTASXBCVRequest" message="tns:OFERTASXBCV"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/OFERTASXBCVResponse" message="tns:OFERTASXBCVResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/OFERTASXBCV/Fault/Exception"/>
</operation>
<operation name="OFERTASXML">
<input wsam:Action="http://service.bcv.org/BancoUniversal/OFERTASXMLRequest" message="tns:OFERTASXML"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/OFERTASXMLResponse" message="tns:OFERTASXMLResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/OFERTASXML/Fault/Exception"/>
</operation>
<operation name="DEMANDASXML">
<input wsam:Action="http://service.bcv.org/BancoUniversal/DEMANDASXMLRequest" message="tns:DEMANDASXML"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/DEMANDASXMLResponse" message="tns:DEMANDASXMLResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/DEMANDASXML/Fault/Exception"/>
</operation>
<operation name="errores">
<input wsam:Action="http://service.bcv.org/BancoUniversal/erroresRequest" message="tns:errores"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/erroresResponse" message="tns:erroresResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/errores/Fault/Exception"/>
</operation>
<operation name="INSTRUMENTOSXML">
<input wsam:Action="http://service.bcv.org/BancoUniversal/INSTRUMENTOSXMLRequest" message="tns:INSTRUMENTOSXML"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/INSTRUMENTOSXMLResponse" message="tns:INSTRUMENTOSXMLResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/INSTRUMENTOSXML/Fault/Exception"/>
</operation>
<operation name="TIPOPACTOSXML">
<input wsam:Action="http://service.bcv.org/BancoUniversal/TIPOPACTOSXMLRequest" message="tns:TIPOPACTOSXML"/>
<output wsam:Action="http://service.bcv.org/BancoUniversal/TIPOPACTOSXMLResponse" message="tns:TIPOPACTOSXMLResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.bcv.org/BancoUniversal/TIPOPACTOSXML/Fault/Exception"/>
</operation>
</portType>
<binding name="BancoUniversalPortBinding" type="tns:BancoUniversal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ANULADEMANDA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ANULAOFERTA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="oferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="pacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="pactodirecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="demanda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="jornadaActiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="statusjornada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cambiarClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ANULAPACTO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GETPACTOXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="OFERTASXBCV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="OFERTASXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DEMANDASXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="errores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="INSTRUMENTOSXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="TIPOPACTOSXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="BancoUniversal">
<port name="BancoUniversalPort" binding="tns:BancoUniversalPortBinding">
<soap:address location="https://ocppws-cert.extra.bcv.org.ve/AltoValor/BancoUniversal"/>
</port>
</service>
</definitions>