WEB-INF/classes/ve/org/bcv/service/menudeolocation.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:tns="http://serviceInterface.bcv.org.ve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviceInterface.bcv.org.ve/">
<types>
<xsd:schema>
<xsd:import namespace="http://serviceInterface.bcv.org.ve/" schemaLocation="menudeoschemanlocation.xml"/>
</xsd:schema>
</types>
<message name="VENTADIV">
<part name="parameters" element="tns:VENTADIV"/>
</message>
<message name="VENTADIVResponse">
<part name="parameters" element="tns:VENTADIVResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="COMPRADIV">
<part name="parameters" element="tns:COMPRADIV"/>
</message>
<message name="COMPRADIVResponse">
<part name="parameters" element="tns:COMPRADIVResponse"/>
</message>
<message name="MOTIVOS">
<part name="parameters" element="tns:MOTIVOS"/>
</message>
<message name="MOTIVOSResponse">
<part name="parameters" element="tns:MOTIVOSResponse"/>
</message>
<message name="TASASCAMBIO">
<part name="parameters" element="tns:TASASCAMBIO"/>
</message>
<message name="TASASCAMBIOResponse">
<part name="parameters" element="tns:TASASCAMBIOResponse"/>
</message>
<message name="ERRORES">
<part name="parameters" element="tns:ERRORES"/>
</message>
<message name="ERRORESResponse">
<part name="parameters" element="tns:ERRORESResponse"/>
</message>
<message name="TIPOSMOVIMIENTOS">
<part name="parameters" element="tns:TIPOSMOVIMIENTOS"/>
</message>
<message name="TIPOSMOVIMIENTOSResponse">
<part name="parameters" element="tns:TIPOSMOVIMIENTOSResponse"/>
</message>
<message name="MOVIMIENTOS">
<part name="parameters" element="tns:MOVIMIENTOS"/>
</message>
<message name="MOVIMIENTOSResponse">
<part name="parameters" element="tns:MOVIMIENTOSResponse"/>
</message>
<message name="ANULAR">
<part name="parameters" element="tns:ANULAR"/>
</message>
<message name="ANULARResponse">
<part name="parameters" element="tns:ANULARResponse"/>
</message>
<message name="cambiarClave">
<part name="parameters" element="tns:cambiarClave"/>
</message>
<message name="cambiarClaveResponse">
<part name="parameters" element="tns:cambiarClaveResponse"/>
</message>
<portType name="AutorizacionInterface">
<operation name="VENTADIV">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/VENTADIVRequest" message="tns:VENTADIV"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/VENTADIVResponse" message="tns:VENTADIVResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns3:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/VENTADIV/Fault/Exception"/>
</operation>
<operation name="COMPRADIV">
<input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/COMPRADIVRequest" message="tns:COMPRADIV"/>
<output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/COMPRADIVResponse" message="tns:COMPRADIVResponse"/>
<fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns6:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/COMPRADIV/Fault/Exception"/>
</operation>
<operation name="MOTIVOS">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/MOTIVOSRequest" message="tns:MOTIVOS"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/MOTIVOSResponse" message="tns:MOTIVOSResponse"/>
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns9:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/MOTIVOS/Fault/Exception"/>
</operation>
<operation name="TASASCAMBIO">
<input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/TASASCAMBIORequest" message="tns:TASASCAMBIO"/>
<output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/TASASCAMBIOResponse" message="tns:TASASCAMBIOResponse"/>
<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns12:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/TASASCAMBIO/Fault/Exception"/>
</operation>
<operation name="ERRORES">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/ERRORESRequest" message="tns:ERRORES"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/ERRORESResponse" message="tns:ERRORESResponse"/>
<fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns15:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/ERRORES/Fault/Exception"/>
</operation>
<operation name="TIPOSMOVIMIENTOS">
<input xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/TIPOSMOVIMIENTOSRequest" message="tns:TIPOSMOVIMIENTOS"/>
<output xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/TIPOSMOVIMIENTOSResponse" message="tns:TIPOSMOVIMIENTOSResponse"/>
<fault xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns18:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/TIPOSMOVIMIENTOS/Fault/Exception"/>
</operation>
<operation name="MOVIMIENTOS">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/MOVIMIENTOSRequest" message="tns:MOVIMIENTOS"/>
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/MOVIMIENTOSResponse" message="tns:MOVIMIENTOSResponse"/>
<fault xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns21:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/MOVIMIENTOS/Fault/Exception"/>
</operation>
<operation name="ANULAR">
<input xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/ANULARRequest" message="tns:ANULAR"/>
<output xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/ANULARResponse" message="tns:ANULARResponse"/>
<fault xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns24:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/ANULAR/Fault/Exception"/>
</operation>
<operation name="cambiarClave">
<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/cambiarClaveRequest" message="tns:cambiarClave"/>
<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/cambiarClaveResponse" message="tns:cambiarClaveResponse"/>
<fault xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception" name="Exception" ns27:Action="http://serviceInterface.bcv.org.ve/AutorizacionInterface/cambiarClave/Fault/Exception"/>
</operation>
</portType>
</definitions>